.item {
    position: relative;
    display: flex;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #801AB2;
    width: 64px;
    height: 64px;
    background-color: #131316;
    margin-left: -15px;  
    border-image: linear-gradient(to right top, #801AB2 #4C4CFF);
}
.item:first-child {
    margin: 0;
}

.image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    z-index: 2;
    width: 112px;
    height: 56px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
  }