.constructor {
    width: 50%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ingredient {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ingredient:last-child {
    margin-bottom: 0;
}

.filling {
    display: flex;
    overflow-y: scroll;
    max-height: 464px;
    scrollbar-width: 8px;
    scrollbar-color: #8585AD #2F2F37;
}

.filling::-webkit-scrollbar {
    width: 8px;
    background-color: #2F2F37;
}

.filling::-webkit-scrollbar-thumb {
    background-color: #8585AD;        
    height: 292px; 
  }