.header {
    background-color: #1C1C21;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;

}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    display: flex;
    width: 290px;
    height: auto;
    transform: translateX(-30%);
}

.profile {
    padding-right: 0;
}

.item {
    display: flex;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #8585AD;
}

.link:first-child {
    padding-left: 0;
}

.active {
    color: #F2F2F3;
}

