.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #131316;
    border: 2px solid  #4C4CFF;
    border-image: linear-gradient(to right top, #801AB2 #4C4CFF);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 640px;
    height: auto;
}

.number {
    align-self: center;
}

.status {
    color: #00CCCC;
}

.content {
    max-height: 312px;
    overflow-y: scroll;
    scrollbar-width: 8px;
    scrollbar-color: #8585AD #2F2F37;
}

.content::-webkit-scrollbar {
    width: 8px;
    background-color: #2F2F37;
}

.content::-webkit-scrollbar-thumb {
    background-color: #8585AD;        
    height: 812px; 
}