.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #1C1C21;
    border-radius: 40px;
    width: 720px;
}

.close {
    position: absolute;
    top: 60px;
    right: 40px;
    width: 24px;
    height: 24px;
    border: 1px solid #1C1C21;
}
