body {
  margin: 0 auto;
  color: #F2F2F3;
  background-color: #131316;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #F2F2F3;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
}

a {
  text-decoration: none;
}

button {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 0;
  cursor: pointer;
  background-color: inherit;
}

li {
  list-style: none;
}